*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    padding: 20px 0px;
}

.signup{
    background-color: rgb(236, 119, 139);
    color: white;
}
.dropdown{
    padding: 0px 5px;
}
@media screen and (min-width:992px) {
    .dropdown:hover>.dropdown-menu{
        display: block;
    }
}
@media screen and(min-width:992px){ 
    .dropdown-toggle::after{
        display: none;
    }
    
}
.drpdwndsc{
    font-weight: lighter;
}
.drpdownicn{
    background-color: rgb(227, 227, 227);
    margin: 5px 16px;
    border-radius: 7px;
}


.dropdown-menu li .div1:hover{
    background-color: white;
}
.dropdown-menu li .div2{
    color: rgb(136, 130, 130);
}
.dropdown-menu li .div2:hover{
    background-color: rgb(247, 247, 247);
    color: black;
}
.dropdown-menu li .div1 .arrw{
    display: none;
}  
.dropdown-menu li .div1:hover .arrw{
    display: block;
} 
/* .filter{
    border: 1px solid black;
} */
.mr-n1{
    margin-right: -0.5rem;
}
.dropdown-toggle::after{
    display: none;
}
/* .dropdown:hover>.dropdown-menu{
    display: block;
} */
/* use this by giving diff id to nav components */

::-webkit-scrollbar {
    display: none;
  }
  .vdo{
    position: relative;
    width: 100%;
    height: 118vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#video{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit:cover;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
}

.vdo-overlay{
    
   position: absolute;
   padding-top: 20px;
    z-index: 1;
}
.btns-top{
    overflow-x: scroll;
    scrollbar-width: 100;
    overflow-y: hidden;
    left: 0;
    white-space: nowrap;
}
.mt-n1{
   margin-top: -0.25rem;
}

#vdo-buttons{
    list-style: none;
    padding: 15px 20px;
    margin: 5px;
    background-color: black ;
    color: white;
    border-radius: 30px;
    opacity: 0.7;
}

#vdo-buttons:hover{
    background-color: white;
    color: black;
}
.main-vdohead{
    /* max-width: 50%; */
    text-align: center;
    color: white;
}
.search{
 position: relative;
}

.input-search{
    width: 50vw;
    padding: 10px 40px;
    border: none;
    border-radius: 40px;
    margin-bottom: 20px;
}
.btn-btmheading{
    list-style: none;
    color: white;
    white-space: nowrap;
}
.trending{
    list-style: none;
    color: white;
    margin: 5px;
    border:1px solid white;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: black;
    opacity: 0.7;
    white-space: nowrap;
    font-size: small;
}
.btn-btm{
    text-decoration: none;
}
.bt{
    border-radius:  50px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}
.bdy-btns{
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

.crd-bdy{
    justify-content: space-around;
    font-size: 15px;
    flex-wrap: wrap;
    /* border:  1px solid black; */
}
.tag{
    font-weight: bold;
}
/* body */
.card{
    border: none;
}
#overlay{
    display: flex;
    font-size: large;
    align-items: end;
    /* border: 1px solid black; */
}
#overlay a{
    text-decoration: none;
    color: rgb(223, 223, 223);
}
#overlay a i {
    /* border:1px solid black; */
    color: black;
    background-color: rgb(254, 255, 255);
    /* padding: 5px; */
    border-radius: 7px;
}
.design-on-card{
    opacity: 0;
    transition: opacity 300ms ease;
}
.design-on-card:hover{
    opacity: 0.7;
    background-color: black;
    /* transition: opacity 300ms ease; */
}
#img-text{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}
.card-body{
    font-size: 11px;
    justify-content: end;
}
#card-body{
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: black;
    display: inline-block;
    /* justify-content: end; */
}
 .button:hover {    
  background-color: rgb(252, 117, 139);
  color: white;
}
#card-icon:hover{
    background-color:rgb(255, 132, 152);
}
.submit-btn{
    border: none;
    background-color: rgb(255, 113, 137);
    color: white;
    border-radius: 5px;
}
.submit-btn:hover{
    opacity: 0.7;
}
.signup-text{
    text-decoration: none;
    color: rgb(255, 113, 137);
}
.signup-text:hover{
    color: rgb(255, 170, 184);
}
.bck-to-top {
    position: sticky;
    bottom: 0;
    color: rgb(170, 166, 166);
    opacity: 0.5;
  }
h4{
    color: rgb(255, 113, 137);
}

#footer{
    padding: 40px;
    border-bottom: 1px solid rgb(163, 163, 163);
    background-color: rgb(237, 237, 237);
}
#F-main a i{
    font-size: larger;
    color: black;
    padding: 6px;
}

 #F-main , #F-content{
    font-size: smaller;
    padding: 7px;
    align-content: start;
}
/* #F-content{
    white-space: nowrap;
} */
#F-content li {
    list-style: none;
    padding: 5px;
}
#F-content ul a{
    text-decoration: none;
    color: black;
    
    
}
#F-content li a:hover{
    background-color: rgb(11, 41, 31);
    color: white;
    opacity: 0.5;
}
#copyright{
    font-size: small;
    padding: 40px;
    background-color:  rgb(237, 237, 237);;
}

#col{
    color: rgb(113, 113, 113);
    text-align: center;
    justify-content: baseline;
}
.me-lg-n4 {
    margin-right: -1.8rem ;
  } 